<mat-card >
  <div mat-card-header-text><h2>SBIRSC Ver 1.0</h2></div>
  <div mat-card-header-text ><h3>&nbsp;</h3></div>
<!--
  <div mat-card-header-text ><h3>{{ varTime | async | date:'dd-MMM-yyyy HH:mm' }}</h3></div>
-->
  <mat-card-content>            
    <mat-form-field>
        <input type="text" class="search" matInput [(ngModel)]="searchQuery" autofocus name="search" placeholder="Search for images" (keypress)="onKeypress($event)" >
        <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchImages(searchQuery)">
            <mat-icon color="accent" >search</mat-icon>
          </button>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select placeholder="Search Location" [value]="defaultSearchLocation">
        <mat-option *ngFor="let sl of searchLocations" [value]="sl.value">
          {{sl.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
      <button (click)="searchImages(searchQuery)" mat-raised-button class="searchButton" type="button">Find Images</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="searching">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-card style="min-height: 500px;" *ngIf="showResults">
  <mat-card-header>
    <mat-card-title>
        <h4 *ngIf="imagesFound">No. of records found {{tImagesFound}} in  {{searchTime | number:'1.1-3'}} seconds.</h4>
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        <button class="btn btn-md btn-info" (click)="onShowWithPath()">Display with Location Path</button>
        <button class="btn btn-md btn-info" (click)="onShowImages()">Display Image</button>
        <!-- <button class="btn btn-md btn-info" (click)="filterBy='camping'">View Options</button>  -->
        <mat-select placeholder="View Options" [(value)]="defaultViewOption" style="width:150px;">
            <mat-option *ngFor="let vw of viewOptions" [value]="vw.id">
              {{vw.vwOption}}
            </mat-option>
          </mat-select>
          {{defaultViewOption}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div *ngIf="showImages">
      <div *ngFor="let image of images" class="image-container{{defaultViewOption}}" >
          <!--  <a href="{{image.webformatURL}}" target="_blank" [routerLink] ="['/image', image.id]"> -->
          <a [routerLink] ="['/image', image.id]">
            <img mat-card-image src="{{image.webformatURL}}"  class="imageFile1{{defaultViewOption}}">
          </a>
      </div>      
    </div>
    <div *ngIf="showImagesWithPath" style="margin-top:20px;">
      <div *ngFor="let image of images" class="row" style="margin-top:10px;">
      <div style="float:left;" >
        <a href="{{image.webformatURL}}" target="_blank">
        <img src="{{image.previewURL}}" class="imageFile1" >
      </a>
      </div>
      <div>
        <a href="{{image.webformatURL}}" target="_blank">{{image.webformatURL}}</a>        
      </div>
      </div>
    </div>
  </mat-card-content>
  
  <!--
  <masonry [useImagesLoaded]="true">
    <masonry-brick *ngFor="let image of images" class="image-container">
      <mat-card>
        <a href="{{ image.pageURL }}" target="_bank">
          <mat-card-header>
            <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
            <mat-card-title>User: {{ image.user }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{image.webformatURL}}" class="imageFile" >
          <mat-card-content>
            <p>Tags: {{ image.tags }}</p>
            <p>Comments: {{ image.comments }}</p>
            <p>Likes: {{ image.likes }}</p>
          </mat-card-content>
        </a>
      </mat-card>
      <br><br>
    </masonry-brick>
  </masonry>
-->

</mat-card>
