<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" routerLink="/gallery">{{ title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" style="float:right;">
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{ varTime | async | date:'dd-MMM-yyyy HH:mm' }}</a></li>
        <li><a routerLink="/gallery">Image Gallery</a></li>
        <li><a routerLink="/login">Login</a></li>
        <!--   <li><a href="#">Hiking</a></li> -->
        <!--   <li><a href="#">London</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
