@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: 'Lato', sans-serif;
  color: #ccc;
  background-color: #d3d1d1;
}

.main-content{
  padding-top: 60px;
  color: #333;
}

h1 h2 h3 h4 h5{
  font-family: 'Monteserrat', sans-serif;
  color: #333;
}
